@define-color foreground rgba(80, 60, 60, 0.8);
@define-color background rgba(255, 200, 200, 0.5);
@define-color color1 hsl(172, 100%, 25.3%);
@keyframes fadeSlide {
  from {  transform:translateY(18px) }
  to   {  transform:translateY(0) }
}

#window,
#box,
#aiScroll,
#aiList,
#search,
#password,
#input,
#prompt,
#clear,
#typeahead,
#list,
child,
scrollbar,
slider,
#item,
#text,
#label,
#bar,
#sub,
#activationlabel {
  all: unset;
}

#cfgerr {
  background: rgba(255, 0, 0, 0.4);
  margin-top: 0px;
  padding: 0px;
  font-size: 1.2em;
}

#window {
  background-color: #11111130;
}

#box {
  /* border-radius: 20px; */
  /* background: transparent; */
  /* padding: 12px; */
  /* border: 0px solid rybrown; */
  /* box-shadow: */
  /*   0 19px 38px rgba(0, 0, 0, 0.3), */
  /*   0 15px 12px rgba(0, 0, 0, 0.22); */
}

#search {
  /* box-shadow: */
  /*   0 1px 3px rgba(0, 0, 0, 0.1), */
  /*   0 1px 2px rgba(0, 0, 0, 0.22); */
  /* background: lighter(@background); */
  background-color: transparent;
  padding: 0px;
}

#prompt {
  opacity: 0.0;
}

#clear {
  opacity: 0.8;
}

#password, 
#input {
  background-color: transparent;
  font-family: "Roboto Mono";
  color: white;
  font-size: 4.5em;
  padding-left: 5px;
}
#list {
  margin: 0px; 
  background-color: transparent;
}

child {
  margin-left: 2px;
  margin-right: 2px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.22);
  /* -gtk-dpi: 150; */
}

child:selected {
  animation: fadeSlide .4s ease-out both;
  /* background-color: rgba(200, 120, 150, 0.7); */
  /* border-bottom: 1px solid; */
  /* margin-left: 10px; */
  border-color: #ff6b6b;
  color: black;
  box-shadow: 0px 0px 6px 1px salmon;
}
child:hover {
  /* background-color: rgba(200, 120, 150, 0.7); */
  /* background: alpha(@color1, 0.4); */
}
#icon {
  min-width: 480px;
  min-height: 270px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0px;
}







