@define-color foreground rgba(80, 60, 60, 0.8);
@define-color background rgba(255, 200, 200, 0.5);
@define-color color1 hsl(172, 100%, 25.3%);

#window,
#box,
#aiScroll,
#aiList,
#search,
#password,
#input,
#prompt,
#clear,
#typeahead,
#list,
child,
scrollbar,
slider,
#item,
#text,
#label,
#bar,
#sub,
#activationlabel {
  all: unset;
}

#cfgerr {
  background: rgba(255, 0, 0, 0.4);
  margin-top: 20px;
  padding: 8px;
  font-size: 1.2em;
}

#window {
  background-color: #11111130;
}

#box {
  /* border-radius: 20px; */
  /* background: transparent; */
  /* padding: 12px; */
  /* border: 0px solid rybrown; */
  /* box-shadow: */
  /*   0 19px 38px rgba(0, 0, 0, 0.3), */
  /*   0 15px 12px rgba(0, 0, 0, 0.22); */
}

#search {
  /* box-shadow: */
  /*   0 1px 3px rgba(0, 0, 0, 0.1), */
  /*   0 1px 2px rgba(0, 0, 0, 0.22); */
  /* background: lighter(@background); */
  background-color: transparent;
  padding: 12px;
}

#prompt {
  margin-left: 1px;
  margin-right: 5px;
  opacity: 1.0;
  
}

#clear {
  color: @foreground;
  opacity: 0.8;
}

#password,
#input {
  color: black;
  font-family: "Roboto Mono";
  font-size: 1.5em;
  padding-left: 5px;
}
#typeahead {
  border-radius: 18px;
}

#password {
}

#spinner {
  padding: 8px;
}

#typeahead {
  color: @foreground;
  opacity: 0.8;
}

#input placeholder {
  opacity: 1.0;
  color: black;
}

#list {
  margin-bottom: -10px; 
}

child {
  padding: 10px;
  margin: 2px 2px 10px;
  border-radius: 10px;
  color: black;
  font-family: "Noto Sans Mono";
  font-size: 1.3em;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.22);
}

child:selected {
  /* background-color: rgba(200, 120, 150, 0.7); */
  /* border-bottom: 1px solid; */
  /* margin-left: 10px; */
  border-color: #ff6b6b;
  color: black;
  box-shadow: 0px 0px 2px 1px salmon;
}
child:hover {
  /* background-color: rgba(200, 120, 150, 0.7); */
  /* background: alpha(@color1, 0.4); */
  color: black;
}
/* child:power { */
/*   background-color: red; */
/* } */
.power .item {
  background: #45475a;
  color: #cdd6f4;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  width: 100px;
}
#item {
  font-family: "Roboto Mono";
  max-height: 1px;
}

#icon {
  margin-right: 8px;
}

#text {
  color: black;
}

#label {
  font-weight: 500;
}

#sub {
  opacity: 0.8;
  font-size: 0em;
}

#bar {
  background-color: red;
}

.barentry {
}

/* Буковка справа */
#activationlabel {
  border-radius: 8px;
  font-size: 0.8em;
  padding: 6px;
}

.activation #activationlabel {
  /* background-color: rgba(250, 170, 150, 1); */
  padding: 6px;
  font-size: 0.8em;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.22);
  background-color: lighter(salmon);
}

.activation #text {
  color: whitesmoke;
}
.activation #icon,
.activation #search {
  opacity: 0.7;
}

.aiItem {
  padding: 10px;
  border-radius: 2px;
  color: @foreground;
  background: @background;
}

.aiItem.user {
  padding-left: 0;
  padding-right: 0;
}

.aiItem.assistant {
  background: lighter(@background);
}
